@media (max-width: 1200px) {
  #netflixLogDiv {
    margin: 0px 10px;
  }
  #navButtons {
    margin: 0px 10px;
  }
  #moreToJoin {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 20px;
    flex-direction: column;
  }
  .moreReasonsDiv {
    display: flex;
    width: 100%;
    height: 25%;
    margin: 10px;
  }
  #main {
    padding: 1%;
    margin: 1%;
  }
  #heroSection {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  #emailDiv {
    width: 80vw;
  }
  #emailDiv button {
    font-size: 15px;
  }
}
