@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
html,
body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}
#main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #141414;
}
nav {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: transparent;
  z-index: 10;
}
#navRight {
  display: flex;
  width: 50%;
  margin-left: 60px;
  font-weight: small;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
}
#navLeft {
  width: 40%;
  margin-right: 60px;
  display: flex;
  font-weight: small;
  font-size: small;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.2s;
}
#netflixLogDiv {
  margin-right: 20px;
}
.searchDiv {
  width: 50%;
  display: flex;
  margin-left: 40px;
  justify-content: end;
  align-items: center;
}
.searchInput {
  height: 0%;
  width: 0%;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  transition: ease-in-out 0.2s;
  outline: none;
}
.hideShow {
  height: 30px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  transition: ease-in-out 0.2s;
  border: none;
  border-radius: 5px;
}

#navLeft i {
  font-size: x-large;
}

#searchBtn {
  background-color: transparent;
  color: white;
  border: none;
  margin-left: 10px;
}
#profileDiv {
  display: flex;
  align-items: center;
}
#profileDiv * {
  margin: 10px;
}

#heroSection {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.imgBox {
  position: relative;
}

.heroImg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
.heroDetails {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  backdrop-filter: blur(1px);
}
#gridSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.grids {
  display: flex;
  position: relative;
  height: 200px;
  overflow-x: scroll;
  padding: 20px;
  margin: 30px 30px;

}
.grids p{
  position: absolute;
  top: 0%;
  color: #fff;
}
.grids >img{
  margin: 0 5px;
  border-radius: 2%;
  transition: ease-in-out 0.5s;

}

.grids >img:hover{
scale: 1.2;
transition: ease-in-out 0.5s;
}